<!DOCTYPE html>
<html>
    <head land="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <title>My CV</title>

        <style> 
            * {
                color: #00ff15;
                font-family: "font-family: 'Press Start 2P', cursive";
                font-size: 1vw;
            }
            body { 
                padding-top: 100px; 
                background-color: #000000;
            }
            .github{
                display: inline-block;
            }
            .fa:hover {
                background-color: #ffee00;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <nav class="navbar fixed-top navbar-expand-sm" style="background-color: #00ff15; color: #000000">
                    <a class="navbar-brand mb-0 text-dark h1" href="#" style="font-size: 1.25vw;">Jesus Martinez</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark fa" href="home" @click.prevent="viewHome" style="font-size: 1.25vw;">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fa" href="#aboutMe" @click.prevent="viewAboutMe" style="font-size: 1.25vw;">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fa" href="#myProjects" @click.prevent="viewProjects" style="font-size: 1.25vw;">My projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fa" href="#timeline" @click.prevent="viewTimeline" style="font-size: 1.25vw;">Professional timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fa" href="#contact" @click.prevent="viewContact" style="font-size: 1.25vw;">Contact me</a>
                        </li>
                        </ul>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" v-model="searchBar" aria-label="Search">
                            <button class="btn btn-success my-2 my-sm-0" type="submit" @click.prevent="viewMsg" style="background-color: #000000; color: #00ff15; font-size: 1.25vw;">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <span>
                        <h1 class="mb-1">
                            Jesus Martinez
                        </h1>
                        <h3 class="mb-5 font-weight-normal">
                            Computer Technologies Engineering student with specializations in:<br>
                            <ul>
                                <li>Intelligent Systems</li>
                                <li>Data Science</li>
                            </ul>
                        </h3>
                    </span>
                    <span>
                        <p>
                            <a href="./me.jpg">
                                <img src="./me.jpg" alt="Jesus Martinez" class="rounded-circle" style="width: 40%; margin-left: 25%;">
                            </a>
                        </p>
                    </span>
                    <div>
                        <div v-if="showHome" v-cloak id="home" style="font-family: 'Press Start 2P', cursive; font-size: large;">
                            <h4 class="mb-3 font-weight-normal">My skills</h4>
                            <ul>
                                <li
                                    v-for="skill in skills()"
                                    v-html="skill.name + ' ' + skill.level"
                                ></li>
                            </ul>
                        </div>
                        <p v-if="showAboutMe" v-cloak id="aboutMe" style="font-family: 'Press Start 2P', cursive; font-size: 1vw;">
                            A wild bio appeared!
                        </p>
                        <p v-if="showProjects" v-cloak id="myProjects" style="font-family: 'Press Start 2P', cursive; font-size: 1vw;">
                            My projects:
                        </p>
                        <ul v-if="showProjects" v-cloak id="myProjects" style="font-size: 1vw;">
                            <li>
                                Project 1
                            </li>
                            <li>
                                Project 2
                            </li>
                            <li>
                                Project 3
                            </li>
                        </ul>
                        <p v-if="showTimeline" v-cloak id="timeline" style="font-family: 'Press Start 2P', cursive; font-size: 1vw;">
                            | Start ---------- Finish |
                        </p>
                        <div v-if="showContact" v-cloak id="contact">
                            <p v-if="showContact" v-cloak id="contact" style="font-family: 'Press Start 2P', cursive; font-size: 1vw;">
                                Call me!
                            </p>
                            <h4 v-if="showContact" v-cloak id="contact" class="mb-0 font-weight-normal">
                                <a href="mailto:jcmartgon@gmail.com">jcmartgon@gmail.com</a>
                            </h4>
                            <p class="github">Github: </p>
                            <p class="mb-0 github">
                                <a class="text-dark" href="https://github.com/jcmartgon"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    searchBar: "Work in progress...",
                    showHome: true,
                    showAboutMe: false,
                    showProjects: false,
                    showTimeline: false,
                    showContact: false,
                    skill: ""
                },
                methods: {
                    viewAboutMe: function() {
                        this.showHome = false
                        this.showAboutMe = true
                        this.showProjects = false
                        this.showTimeline = false
                        this.showContact = false
                    },
                    viewProjects: function() {
                        this.showHome = false
                        this.showAboutMe = false
                        this.showProjects = true
                        this.showTimeline = false
                        this.showContact = false
                    },
                    viewTimeline: function() {
                        this.showHome = false
                        this.showAboutMe = false
                        this.showProjects = false
                        this.showTimeline = true
                        this.showContact = false
                    },
                    viewMsg: function() {
                        this.showHome = false
                        this.showAboutMe = false
                        this.showProjects = false
                        this.showTimeline = false
                        this.showContact = false
                    },
                    viewContact: function() {
                        this.showHome = false
                        this.showAboutMe = false
                        this.showProjects = false
                        this.showTimeline = false
                        this.showContact = true
                    },
                    viewHome: function() {
                        this.showHome = true
                        this.showAboutMe = false
                        this.showProjects = false
                        this.showTimeline = false
                        this.showContact = false
                    },
                    skills: function () {
                        return [
                            { name: "C++" , level: "****"},
                            { name: "Python" , level: "*****"},
                            { name: "SQL" , level: "****"},
                            { name: "Algorithms", level: "*****" },
                            { name: "HTML", level: "**" },
                            { name: "CSS", level: "**" },
                            { name: "Javascript", level: "**" }
                        ]
                    }
                }
            })
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>